<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_assignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- To Generate PDF and Download -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Customer.ChangeLanguage.ChangeLanguageMainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Assignment">
        <!--Cloud Messaging-->
        <service android:name=".Customer.Chat.SendNotification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>

        </service>

        <activity android:name=".Staff.Staff_Fragments.staff_checkInOut.Main.StaffManageCheckInOutActivity" />
        <activity android:name=".Staff.Staff_Fragments.staff_checkInOut.Main.StaffCheckInOutMainActivity"/>
        <activity android:name=".Staff.Staff_Fragments.staff_manager.Main.Permission.StaffPermissionActivity" />
        <activity android:name=".Staff.Staff_Fragments.staff_manager.Main.Staff.StaffManagerActivity" />
        <activity android:name=".Staff.Staff_Fragments.staff_housekeeping.Main.Main.StaffHousekeepingMainActivity" />
        <activity android:name=".Staff.Staff_Fragments.staff_housekeeping.Main.Main.StaffHousekeepingServiceActivity" />
        <activity
            android:name=".Customer.Customer_Fragments.cust_housekeeping.Services.Item.CustHousekeepingAvailableItemActivity"
            android:parentActivityName=".CustomerMain" />
        <activity
            android:name=".Customer.Customer_Fragments.cust_housekeeping.Services.Service.CustHousekeepingAvailableServicesActivity"
            android:parentActivityName=".CustomerMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerMain" />
        <activity android:name=".StaffMain" />
        <activity android:name=".Cust_Staff_Shared.Cust_Staff_Fragments.Login" />
        <activity android:name=".Cust_Staff_Shared.Cust_Staff_Fragments.Forget_Password" />
        <activity android:name=".Cust_Staff_Shared.Cust_Staff_Fragments.Register" />

        <!-- Booking and manage room -->
        <activity android:name=".Customer.Booking.Main.ConfirmBooking" />
        <activity android:name=".Customer.Booking.Main.BookRoomCart" />
        <activity android:name=".Customer.Booking.Main.BookRoomMenu" />
        <activity android:name=".Staff.room.Main.EditRoomDesc" />
        <activity android:name=".Staff.room.Main.ManageRoom" />
        <activity android:name=".Staff.room.Main.ManageRoomMenu" />
        <activity
            android:name=".Customer.Booking.Main.BookingSearchPage"
            android:theme="@style/Theme.MAD_Assignment1" />

        <activity android:name=".Customer.Customer_Fragments.cust_facilities.Main.CustFacilityDetails" />
        <activity android:name=".Staff.facility.Main.EditFacility" />
        <activity android:name=".Staff.facility.Main.ManageFacilityDetails" />
        <activity android:name=".Staff.facility.Main.AddFacility" />
        <activity android:name=".Staff.facility.Main.ManageFacilityMenu" />
        <!-- Customer Payment -->
        <activity
            android:name=".Customer.Customer_Fragments.cust_trans_history.payment.cust_payment_transaction_details"
            android:parentActivityName=".CustomerMain" />
        <activity android:name=".Customer.Customer_Fragments.cust_trans_history.payment.cust_payment_credit_card" />
        <activity android:name=".Customer.Customer_Fragments.cust_trans_history.payment.cust_payment_EWallet" />
        <activity android:name=".Customer.Customer_Fragments.cust_trans_history.payment.cust_payment_online_banking" />
        <activity
            android:name=".Customer.Customer_Fragments.cust_trans_history.payment.cust_payment_method"
            android:parentActivityName=".CustomerMain" /> <!-- For Chat App -->
        <activity
            android:name=".Customer.Chat.messages.LatestMessages"
            android:parentActivityName=".CustomerMain" />
        <activity
            android:name=".Customer.Chat.messages.NewMessage"
            android:parentActivityName=".Customer.Chat.messages.LatestMessages" />
        <activity
            android:name=".Customer.Chat.messages.ChatLog"
            android:parentActivityName=".Customer.Chat.messages.LatestMessages" />
    </application>

</manifest>