<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_assignment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Customer.ChangeLanguage.ChangeLanguageMainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Assignment">
        <activity android:name=".Staff.Staff_Fragments.staff_manager.Main.Permission.StaffPermissionActivity" />
        <activity android:name=".Staff.Staff_Fragments.staff_manager.Main.Staff.StaffManagerActivity" />
        <activity
            android:name=".Staff.Staff_Fragments.staff_housekeeping.Main.Main.StaffHousekeepingMainActivity"/>
        <activity android:name=".Staff.Staff_Fragments.staff_housekeeping.Main.Main.StaffHousekeepingServiceActivity" />
        <activity
            android:name=".Customer.Customer_Fragments.cust_housekeeping.Services.Item.CustHousekeepingAvailableItemActivity"
            android:parentActivityName=".CustomerMain" />
        <activity
            android:name=".Customer.Customer_Fragments.cust_housekeeping.Services.Service.CustHousekeepingAvailableServicesActivity"
            android:parentActivityName=".CustomerMain" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerMain" />
        <activity android:name=".StaffMain" />
        <activity android:name=".Cust_Staff_Shared.Cust_Staff_Fragments.Login" />
        <activity android:name=".Cust_Staff_Shared.Cust_Staff_Fragments.Register" /> <!-- For Chat App -->
        <activity android:name=".Customer.Chat.messages.LatestMessages">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer.Chat.messages.NewMessage" />
        <activity android:name=".Customer.Chat.messages.ChatLog" />

        <activity android:name=".Customer.Booking.Main.ConfirmBooking"></activity>
        <activity android:name=".Customer.Booking.Main.BookRoomCart" />
        <activity android:name=".Customer.Booking.Main.BookRoomMenu" />
        <activity android:name=".Staff.room.AddRoom" />
        <activity android:name=".Staff.room.ManageRoom" />
        <activity android:name=".Staff.room.ManageRoomMenu" />
        <activity
            android:name=".Customer.Booking.Main.BookingSearchPage"
            android:theme="@style/Theme.MAD_Assignment1" />
    </application>

</manifest>